.item-container {
    margin: 0 2.5rem 0 7rem;
    display: flex;
}

.item-left-container {
    width: 68%;
    padding: 2rem 2rem 2rem 0.8rem;
    /* border: 3px solid chartreuse; */
}

.item-right-container {
    width: 28%;
    /* border: 3px solid cornflowerblue; */
    padding: 6rem 1.5rem 0 2.5rem;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

/* //Left container starts// */

.item-left-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.4rem;
    margin: 3rem 0;
}

/* .item-left-grid-item {

} */

.item-left-grid-item > img {
    width: 100%;
    height: 100%;
}

.item-left-desc-container {
    margin: 0 4rem 3rem 0;
    color:#444;
}

.item-left-desc {
    font-size: 1.4rem;
}

.item-left-below-desc {
    margin: 2rem 0;
}

.article-number {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.article-value {
    color: white;
    background-color: black;
    padding: 0.1rem 0.8rem;
    font-weight: 600;
    font-size: 14px;
}

.item-left-info {
    padding: 2.5rem 0;
    border-top: 1px solid #ccc;
}

.item-left-info-btn {
    width: 95%;
    font-size: 1.5rem;
    transform: scaleY(110%);
    font-weight: bold;
    background-color: white;
    text-align: left;
}

.item-left-info:hover .item-left-info-btn{
    text-decoration: underline;
}

.item-left-arrow {
    font-size: 1.8rem;
    vertical-align: bottom;
}

.item-left-story-container {
    position: relative;
    margin-top: 4rem;
}

.item-left-story-img {
    width: 60%;
}

.item-left-story-img img {
    width: 100%;
}

.item-left-story-text {
    position: absolute;
    width: 50%;
    left: 40%;
    top: 5%;
    background-color: white;
    padding: 2rem;
}

.readmoreless {
    text-decoration: underline;
    color: #666;
    margin-top: 0.5rem;
}

.story-heading {
    font-size: 12px;
    color: #666;
    font-weight: bold;
    transform: scaleY(105%);
}

.story-subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.story-text {
    color: #444;
}

.story-sub-subheading {
    font-weight: bold;
    margin: 1rem 0;
}

.item-left-as-seen-in{
    width: 50%;
}

.item-left-as-seen-in p {
    font-size: 1.6rem;
    font-weight: bold;
    transform: scaleY(110%);
    margin: 2.4rem 0;
}

.item-left-as-seen-in img {
    width: 80%;
}






/* // RIght Container starts // */

.item-right-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-right-place {
    width: 20%;
}

.large {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem
}

.small {
    font-size: 12px;
}

.gray {
    color: #555;
    font-weight: 400;
    padding-bottom: 0.6rem;
}

.item-right-middle {
    margin: 1.5rem 0 2rem 0;
}

.item-right-middle p:first-child {
    display: inline-block;
    color: #444;
}

#pin {
    border-bottom: 2px solid black;
    outline: none;
    width: 20%;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

#pin::-webkit-inner-spin-button {
    display: none;
}

#pin::placeholder {
    transform: translateX(2px);
    font-size: 18px;
}

.item-right-middle > button {
    border: 1px solid #ddd;
    background-color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.item-add-to-cart-btn {
    background-color: #0058ab;
    color: white;
    padding: 1.2rem;
    width: 100%;
    border-radius: 40px;
    font-weight: bold;
    font-size: 14px;
}

.item-add-to-cart-btn ~ p {
    text-decoration: underline;
    margin-top: 2rem;
}

