
.mainImg{
    width: 88%;
    margin: 4% auto auto 8.8%;
}

#secondBox{

    width: 88%;
    margin: 5% auto auto 8.8%;
    height: 700px;
}

#thirdBox{
    width: 88%;
    margin: 5% auto auto 8.8%;
    height: 700px;
}

.img{
    width: 100%;
    height: 100%;
}

.box{
    width: 88%;
    margin: 5% auto auto 8.8%;;
}

#topCat{
    width: 80%;
    height: 750px;
}

#topText{
    font-size: 1.6vw;
    font-weight: 700;
}


#secondTop{
    margin-top: 14%;
}




#empty{
    margin-top: 2%;
    height: 400px;
}

div{
    /* border: .1px solid black; */
}