

/* #circle{
    /* margin: 2% 0 0 3.5%; */
    /* width: 20px;
    height: 20px;
} */ 

#menuIconBox{
    position: fixed;
    top: 9.2%;
    left: 3%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: .5% 0 0 0.45% ;
}

#menuIconBox:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

#menuIconBox:active{
    background-color: rgb(222,222,223);
}

#menuIcon{
    font-size: 1.6vw;
    position: fixed;

}


.leftBox{
    position: relative;
    top: -75px;
    left: -600px;
    width: 482px;
    height: 728px;
    background-color: white;
    /* display: none; */
    
    /* animation:  .5s linear slideOut ; */
}


@keyframes slideOut{
    0%{
        
        transform: translateX(482px);
        
    }
    100%{
        transform: translateX(-500px);
        
    }
}




.show{
    position: relative;
    top: -75px;
    left: -55px;
    width: 482px;
    height: 728px;
    background-color: white;
    animation:  .2s linear slideIn ;
}

@keyframes slideIn{
    0%{
        transform: translateX(-482px);
        
    }
    100%{
        transform: translateX(0px);
            }
        }
        
        
.heading{
    box-sizing: border-box;
    padding: 5.5% 0 0 0;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 40px;
}

.closeIcon{
    box-sizing: border-box;
    margin: 5% 0 0 45%;
    font-size: 1.45vw;
}

.boxImg{
    width: 28%;
    height: 90%;
    margin: 0 0 0 1%;
}


    



div{
    /* border: 1px solid black; */
}
