

/* #circle{
    /* margin: 2% 0 0 3.5%; */
    /* width: 20px;
    height: 20px;
} */ 

#menuIconBox{
    position: fixed;
    /* display: flex; */
    /* align-items: center; */
    top: 9.2%;
    left: 3%;
   
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    padding: .5% 0 0 0.45% ;
}

#menuIconBox:hover{
    background-color: rgb(245, 245, 245);

}

#menuIcon:hover{
    cursor: pointer;
}

#menuIconBox:active{
    background-color: rgb(222,222,223);
}

#menuIcon{
    font-size: 1.6vw;
    position: fixed;

}


.leftBox{
    position: relative;
    top: -75px;
    left: -600px;
    width: 482px;
    height: 728px;
    background-color: white;
    transform: translateX(-500px);
    transition: all linear .4s;
}





.show{
    position: relative;
    top: -75px;
    left: -55px;
    width: 482px;
    height: 728px;
    background-color: white;
    animation:  .2s linear slideIn ;
    overflow: scroll;
    z-index: 1;
    position: relative;
}

.show::-webkit-scrollbar {
  display: none;
}


.secondBox::-webkit-scrollbar {
  display: none;
}
@keyframes slideIn{
    0%{
        transform: translateX(-482px);
        
    }
    100%{
        transform: translateX(0px);
            }
        }
        
        
.heading{
    box-sizing: border-box;
    padding: 5.5% 0 0 0;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 40px;
}

.closeIcon{
    box-sizing: border-box;
    font-size: 1.45vw;
    box-sizing: border-box;
    margin: 20% 0 0 20%;
}

.boxImg{
    width: 28%;
    height: 90%;
    margin: 0 0 0 1%;
}

.circle{
    /* border: 1px solid red; */
    width: 40px;
    margin: 0% 0 0 45%;
    height: 40px;
    border-radius: 50%;
}

.circle:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}


.circle:active{
    background-color: rgb(222,222,223);
}

.secondBox{
    overflow: scroll;
    height: 620px;
    margin: 12% 0 0 0%  ;
     animation: abc .2s linear;
     /* display: none; */
    /* make display cut */
}

@keyframes abc{
    from{
        opacity: 0;
        transform: translateX(-100px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


#text{
    margin: 5% 15% 0 30.5% ;

}

#text> div:hover {
    text-decoration: underline;
    cursor: pointer;
}

#firstC{
    font-size: 2.4vw;
    font-weight: 700;
    margin-bottom: 10%;
}

#secondC{
    
    font-size: 2.4vw;
    font-weight: 700;
    margin-bottom: 10%;
}


#thirdC{
    
    font-size: 2.4vw;
    font-weight: 700;
    margin-bottom: 10%;
}

#fourthC{
    
    font-size: 2.4vw;
    font-weight: 700;
}

#textS{
    font-weight: 700;
    margin: 6% 20% 0 30.5% ;
    font-size: .95vw;
}

#textS> div{
    margin-bottom: 6%;
}

#textS> div:hover{
    cursor: pointer;
    text-decoration: underline;
}


#textT{
    
    margin: 10% 20% 0 31% ;
    font-size: .95vw;
    font-weight: 500;
    /* opacity: .95; */
    color: rgb(17,17,17);
}

#textT > div{
    margin-bottom: 7%;
}

#textT > div:hover{
    text-decoration: underline;
    cursor: pointer;
}

#country{
    margin: 17% auto 5% 30%;
    width: 38%;
    height: 45px;
    border: 1px solid rgb(223,223,223);
    border-radius: 38px;
    display: flex;
    gap: 5%;
    padding: 1.5% 0 0 3%;
    box-sizing: border-box;
    color: rgb(72,73,73);
}

#country>div:nth-child(1){
    margin: 2.8% 0 0 1% ;
    font-size: 1.3vw;
}


#country>div:nth-child(2){
    margin: 4.5% 0 0 3% ;
    font-size: .8vw;
    font-weight: 700;
}

#country:hover{
    cursor: pointer;
    color: black;
    border: 1px solid black;
}


.productBox{
    
    overflow: scroll;
    height: 620px;
    margin: 12% 0 0 3.2%  ;
    display: none;  
    z-index: 1;
    position: relative; 
    /* add display: none here */
}


.productBox::-webkit-scrollbar {
  display: none;
}

.showBox{
    display: block;
}

.hideBox{
    display: none;
}

#prodHeading{
    display: flex;
    margin: 6% 0 0 11%;
    gap: 10%;
}

#arrowBox{
    /* margin: 0 0 0 20%; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 24% 0 0 22%;
}

#backArrIcon{
    font-size: 1.3vw;

}


#arrowBox:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}


#arrowBox:active{
    background-color: rgb(222,222,223);
}

#prodHeading > div:nth-child(2){
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: .5%;
}


#prodText{
    margin: 8% 0 0 29%;
}

#prodText > div:nth-child(1) > div{
    width: 80%;
    font-size: .95vw;
    font-weight: 700;
    margin-bottom: 4%;
}

#prodText > div:nth-child(1) > div:hover{
    text-decoration: underline;
    cursor: pointer;
}

#prodText > div:nth-child(2) {
    margin-top: 10%;
}

#prodText > div:nth-child(2) > div{
    width: 80%;
    font-size: .95vw;
    font-weight: 400;
    
    margin-bottom: 4%;
}


#prodText > div:nth-child(2) > div:hover{
    text-decoration: underline;
    cursor: pointer;
}


.ProdBox{
    width: 320px;
    height: 750px;
    position: absolute;
    top: -67px;
    left: 434px;
    background-color: white;
    animation: fur 0.2s linear;
    z-index: 1;
    /* position: relative; */
}

@keyframes fur{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.non{
    display: none;
}

.KitchBox{
    width: 320px;
    height: 750px;
    position: absolute;
    top: -67px;
    left: 434px;
    background-color: white;
    animation: fur 0.2s linear;
}

@keyframes fur{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.pShow{
    display: block;
}


#Box::-webkit-scrollbar {
  display: none;
}

.pHide{
    display: none;
}


#Box{
    box-sizing: border-box;

    margin: 35.5% 0 0 0;
    padding-top: 5%;
    padding-left: 5%;

    height: 600px;
    overflow: scroll;

    /* border-left: 1px solid rgb(223,222,222) ; */
}
.headingT{
    /* margin: 10% 0 0 5%; */
    font-size: 1.4vw;
    font-weight: 600;
}


.shopAll{
    margin: 13% 0 0 0 ;
    font-size: .9vw;
    font-weight: 700;
}

.allCatBox{
    margin-top: 12%;
}

.allCatBox >div{
    margin-bottom: 5%;
    font-size: .9vw;
    font-weight: 400;
}

.allCatBox >div:hover{
    text-decoration: underline;
    cursor: pointer;
}



div{
    /* border: 1px solid black; */
}
