.nav {
  z-index: 13;
  top: 0;
  background: #f0ede8;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  height: 4rem;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
}

.iconContainer {
  position: absolute;
  top: 0;
  left: 2rem;
  display: flex;
  align-items: center;
  z-index: 12;
  height: 4rem;
}

.menuButton {
  color: #111111;
  box-sizing: border-box;
  padding: 0.6em;
  font-size: 1em;
  border: none;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineMainConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  display: block;
  width: 2.0625rem;
  height: 0.25rem;
  margin-bottom: 0.375rem;
  position: relative;
  background: #111111;
  transform-origin: 0.25rem 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease;
}

.openMenu {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

span .openMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}
