

#outerCont{
    width: 71%;
    margin: auto auto auto 14%;
    height: 715px;

}

.imgArr{
    margin: 2% 0 0 0;
}


.stepNoDiv{
    width: 55%;
    margin: 3.5% 0 0 0%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 30px;
    grid-gap: 5%;
}

.insStep{
    display: flex;

}


#numb{
    margin: -101% 0 0 28% ;
    z-index: 1;
    font-size: .8vw;
    color: white;
    font-weight: 600;
}

#nameText{
    font-size: .79vw;
    margin-left: 5%;
    margin-top: .8%;
}

.setp1c{
    color: rgb(255,103,1);
    
}

.step2c{
    color: rgb(152,153,152);
    
}


div{
    /* border: .1px solid black; */
}