#navBox{
    display: grid;
    margin: 1.5% 0 0 0 ;
    grid-template-columns: 8% 92%;
    height: 50px;
}


#inBox{
    display: grid;
    grid-template-columns: 9.5% 76% 14.5%;
}


#imgBox{
    margin: 4.5% 0 0 8%;
    box-sizing: border-box;
    width: 73%;
    height: 73%;
}

.img{
    width: 100%;
    height: 100%;
}

#grayBox{
    height: 108%;
    margin: -.2% 0 0 0;
    background-color: #f5f5f5;
    border-radius: 40px;
    
}

#insideGray{
    height: 100%;
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#grayBox:hover, #inpBox:hover{
    background-color: rgb(222,222,223);
}

#grayBox:hover #inpBox{
    
    background-color: rgb(222,222,223);
}

.searchIcon{
    font-size: 1.3vw;
    margin: 3.8% 0 0 16%;
}

#inpBox{
    outline: none;
    border: transparent;
    width: 100%;
    background-color: #f5f5f5;;
    height: 100%;
    font-size: 1.1vw;
}

.camera{
    margin: 32% 0 0 28%;
    font-size: 1.3vw;
    font-weight: 600;
}

#icons{
    box-sizing: border-box;
    padding-top: 1.5%;
    width: 70%;
    height: 100%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.insIcons{
    font-size: 1.5vw;
    margin-top: 22%;
    margin-left: 20%;
    box-sizing: border-box;
    cursor: pointer;
}

#truckBox{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#truckBox:hover{
    background-color: rgb(245, 245, 245);
}


#truckBox:active  {
    background-color: rgb(222,222,223);
}



#userBox{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#userBox:hover{
    background-color: rgb(245, 245, 245);
}

#userBox:active {
    background-color: rgb(222,222,223);
}

#shoppingBox{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#shoppingBox:hover{
    background-color: rgb(245, 245, 245);
}


#shoppingBox:active {
    background-color: rgb(222,222,223);
}



#dis{
    height: 2000px;
}

#outName{
    width: 88%;
    border-bottom: 1px solid rgb(222,222,223);
    margin-left: 8.8%;
}

#names{
    width: 30%;
    font-size: .95vw;
    font-weight: 700;
    margin: 1.5% 0 0 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    box-sizing: border-box;
    padding-bottom: 1%;
}

#names > div:hover{
    text-decoration: underline;
    cursor: pointer;
}

.line{
    width: 100%;
    border: .2px solid ;
    margin-left: 1.5%;
}


.loginBox{
    opacity: 0;
    /* display: none; */
    width: 500px;
    height: 730px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 1050px;
    
    /* transform: translateX(500px); */
    transition: all .2s linear;
    display: none;
    
}



.showUser{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 500px;
    height: 730px;
    background-color: white;
    animation: user .2s linear ;
    z-index: 1;
}



@keyframes user{
    from{
        transform: translateX(500px);
        
    }
    to{
        transform: translateX(0px);
    }
}


#blueBox{
    width: 100%;
    height: 63%;
    background-color: rgb(1,88,162);
    box-sizing: border-box;
    padding-top: 5%;
}



#closeIcon{
    box-sizing: border-box;
    margin: 0% 0 0 83%;
    width: 40px;
    height: 40px;
    padding: 1.6% 0 0 1.6%;
    border-radius: 50%;
}

#closeIcon:hover{
    color: black;
    background: white;
    cursor: pointer;
    opacity: .9;
    transition: .2s all linear;
}
#closeIcon:hover #closeBIcon{
    color: black;
}


#closeBIcon{
    font-size: 1.5vw;
    color: white;

}

#closeBIcon:hover{
    color: black;
}


#nameText{
    display: flex;
    margin: 10% 0 0 6.5% ;
}

#nameText > div:nth-child(1){
    font-size: 2.4vw;
    color: white;
    font-weight: 700;
}

#logDiv{

    width: 85px;
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    padding: 11% 0 0 0;
    font-size: .85vw;
    font-weight: 700;
}

#logDiv:hover{
    opacity: .95;
    cursor: pointer;
}

#nameText > div:nth-child(2){
    margin: 2% 0 0 57%;
    box-sizing: border-box;
    
}

#line{
   box-sizing: border-box;
   padding-bottom: 8%;
    
}

#line1{
    display: flex;
    border-top: 1px solid rgb(48,118,178);
    box-sizing: border-box;
    padding-bottom:5% ;
}

#strong{
    font-weight: 600;
    /* font-size: ; */
}
#line1>div:nth-child(1){
    color: white;
    font-size: .85vw;
    margin: 5% 0 0 7%;
    line-height: 20px;
}

#line1 >div:hover{
    text-decoration: underline;
    cursor: pointer;
}

#goIconB{
    margin: 120% 0 0 90%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    padding: 20% 0 0 0;
    text-align: center;
}

#goIconB:hover{
    opacity: .95;
}


#goIconB1{
    margin: 120% 0 0 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    padding: 20% 0 0 0;
    text-align: center;
}

#goIconB1:hover{
    opacity: .95;
}

.goIcon{
    font-size: 1.6vw;
    font-weight: 400;

}

#shopp{
    font-size: .95vw;
    margin: 9% 0 0 8%;
}

#shopp>div{
   margin-bottom: 5%;
}

#shopp>div:hover{
    text-decoration: underline;
    cursor: pointer;
}


div{
    /* border: .1px solid black; */

}